<h1>
  Profil de <%= @user.first_name %> <%= @user.last_name %>
</h1>
<p>Email : <%= @user.email %></p>
<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, width: 300, height: 300, crop: :fill %>
<% end %>
<%= link_to 'Retour', root_path %>
