<nav class="navbar-container">
  <div class="nav">

    <!-- Section de gauche de la barre de navigation -->
    <div class="nav-left">
      <%= link_to root_path, class: "logo-container" do %>
        <%= image_tag("http://res.cloudinary.com/dimfha9hq/image/upload/v1687876419/u5hqnizx0w8hjeqelatb.png", class: "logo", alt: "logo") %>
      <% end %>
    </div>

    <!-- Si la page actuelle n'est pas la page d'accueil -->
    <% unless current_page?(root_path) %>

      <!-- Section du centre de la barre de navigation -->
      <div class="nav-center">

        <!-- Barre de recherche avec le filtre de date -->
        <div class="search-with-date">

          <!-- Formulaire de recherche de cars -->
          <%= simple_form_for :car_filter, url: cars_path, method: :get, html: { class: "search-bar-container" } do |f| %>

            <!-- Boutin d'envoi du formulaire de recherche -->
            <button type="submit" class="search-bar-icon">
              <%= svg_tag "icons/search" %>
            </button>

            <!-- Champ de saisie de la recherche -->
            <%= text_field_tag :query,
                        params[:query],
                        class: "search-bar-input",
                        placeholder: "Rechercher une voiture"
            %>

          <!-- Flatpickr pour le filtre de date -->
          <%# A faire %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</nav>
